// Base.xcconfig
// Build settings shared between Debug and Release configurations

#include "Base/Clang.xcconfig"
#include "Base/ObjectiveC.xcconfig"
#include "Base/SDK.xcconfig"
#include "Base/Swift.xcconfig"

// MARK: - Asset catalog
ASSETCATALOG_COMPILER_GENERATE_SWIFT_ASSET_SYMBOL_EXTENSIONS = YES

// MARK: - Build options
COPY_PHASE_STRIP = NO
ENABLE_USER_SCRIPT_SANDBOXING = YES

// MARK: - Localization
LOCALIZATION_PREFERS_STRING_CATALOGS = YES

// MARK: - Search paths
ALWAYS_SEARCH_USER_PATHS = NO
