#include "Base.xcconfig"

// MARK: - Architecture
ONLY_ACTIVE_ARCH = YES

// MARK: - Build options
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES

// MARK: - Clang
GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1 $(inherited)

// MARK: - Swift
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG $(inherited)
SWIFT_OPTIMIZATION_LEVEL = -Onone
